@charset "UTF-8";

/* 
Possíveis paletas de cores

https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500
--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;

https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25
--dark-moss-green: #606c38ff;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff;



*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0E1DD;
    margin-top: 0;
    margin-right: 0;
}

header{
    text-align: center;
}

h1{
    margin-bottom: 2px;
}

h2{
    font-size: 1em;
    margin-top: 2px;
}

.traco{
    font-weight: bolder;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#config_principal{
    text-align: center;
}

button{
    margin-top:5px;
    margin-bottom: 5px;
    padding: 5px 20px 5px 20px;
    border: 3px inset black;
    font-size: 1em;
    background-image: linear-gradient(to right, #219EBC ,#8ECAE6);
    color: black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 7px;
}

#botao{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: 0;
    background-image: linear-gradient(to right, #FB8500, #FFB703);
    border-bottom-right-radius: 15px;
    width: 450px;
}


#contato{
    margin-top: 5px;
}


