@charset "UTF-8";

/* 
Possíveis paletas de cores

https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500
--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;

https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25
--dark-moss-green: #606c38ff;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff;



*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-padrao: 'Arial', sans-serif;
}

body{
    font-family: var(--font-padrao);
}

header > h1{
    font-size: 2em;
    max-width: 450px;
    margin-left: 70px;
    padding-top: 30px;
}

header > h2{
    font-size: 1.2em; 
    margin-left: 140px;
}

form{
    display: inline-block;
}

