@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Militech';
    src: url(../fonts/militech/militech_r_2019-04-13.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Techno';
    src: url(../fonts/techno/Techno.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font-padrao: 'Arial', sans-serif;
    --bege: #fffcf2ff;
    --cinza-claro: rgb(237, 237, 237);
    --cinza-escuro: #403d39ff;
    --preto: #252422ff;
    --laranja: #eb5e28ff;
}

body{
    font-family: var(--font-padrao);
    min-height: 100vh;
}

header{
    padding: 50px 35px;
}

header h1{
    display: inline-block;
    font-family: "Techno", 'cursive';
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
    font-size: 3.6em;
    margin-left: 250px;
}

nav{
    display: flex;
    align-items: center;
    float: inline-end;
    margin-right: 180px;
}

nav li{
    float: inline-end;
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
}

nav img{
    width: 35px;
}

.nav_img{
    margin-right: 20px;
}

.nav_escrito{
    font-family: "Techno", cursive;
    font-size: 1.2em;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    margin-right: 40px;

}

.nav_escrito:hover{
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.301);
    color: white;
}

.apresentacao{
    padding: 25px;
    background-color: aqua;
}

#descricao{
    display: inline-block;
    margin-top: 14vh;
}

#descricao h1{
    perspective-origin: top right;
    font-family: "Militech", 'cursive';
    font-variant: small-caps;
    font-size: 3.4em;
    margin-bottom: 150px;
    margin-left: 7vw;
}

#descricao h2{
    font-family: "Militech", 'cursive';
    font-variant: small-caps;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.3em;
    margin-left: 17vw;
}

#descricao p{
    max-width: 600px;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
    margin-left: 17vw;
    line-height: 1.5em;
}

#foto{
    float: inline-end;
    background-image: url(../imagens/preto.png);
    width: 40vw;
    height: 35vh;
    margin-right: 100px;
    margin-top: 150px;
}


