@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

:root{
    --font-padrao: 'Arial', sans-serif;
    --bege: #fffcf2ff;
    --cinza-claro: rgb(237, 237, 237);
    --cinza-escuro: #403d39ff;
    --preto: #252422ff;
    --laranja: #eb5e28ff;
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cinza-claro);
}

header{
    background-image: linear-gradient(to bottom, var(--bege), transparent);
    padding-top: 35px;
}

header > h1{
    font-size: 2em;
    max-width: 450px;
    margin-left: 170px;
    color: var(--laranja);
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.341);
}

header > h2{
    font-size: 1em; 
    margin-left: 260px;
}

form{
    display: inline-block;
}

main{
    background-color: white;
    max-width: 1300px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

main p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
    padding: 15px;
}

main h1{
    color: var(--laranja);
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.341);
}

main h2{
    color: var(--bege);
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.341);
    background-image: linear-gradient(to right, var(--cinza-escuro), var(--cinza-claro), transparent);
    text-indent: 15px;
    padding: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.3em;
}


